<div class="row m-2">
    <div class="p-3 col-lg-6 text-start">
        <div id="treasure-information" class="card">
            <p class="h2">Treasure information</p>
            <p>Name: <span class="name"></span></p>
            <p>Time to get: <span class="get_time"></span></p>
            <p>Weight: <span class="weight"></span></p>
            <p>Reward: <span class="reward"></span></p>
            <p>Rarity: <span class="rarity"></span></p>
        </div>
    </div>
    <div class="p-3 col-lg-6">
        <div id="treasure_getting_vertical_touchspin" class="card d-flex align-items-center justify-content-center"></div>
    </div>
</div>