<div class="p-2 col-sm-6 col-md-4 col-lg-3">
    <div id="{onion_id}" class="row gx-0 p-2 rounded-3 bg-c-secondary">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div class="{pikmin_id} {pikmin_upgrade}"></div>
            <p>x {nb_pikmin}</p>
            <button class="btn btn-primary btn-sm selectOnion">Select</button>
        </div>
        <div class="col-6">
            <p>Some stat : 1</p>
            <p>Some stat : 2</p>
            <p>Some stat : 3</p>
        </div>
    </div>
</div>
