<div class="p-2 col-sm-6 col-md-4 col-lg-3 onionContainer" data-position="{position}">
    <div id="{onion_id}" class="row gx-0 p-2 rounded-3 bg-c-secondary">
        <div class="onionImgContainer col-6 d-flex flex-column justify-content-center align-items-center position-relative">
            <div class="onion {onion_id}_animation"></div>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center align-items-center">
                <div class="pikmin {pikmin_id} {pikmin_upgrade}"></div>
                <p class="pt-3 ps-1">x <span class="nb_pikmin">{nb_pikmin}</span></p>
            </div>
            <div class="text-start">
                <p><i class="fa-solid fa-fw fa-heart"></i> : <span class="life_point">{life_point}</span><button class="ms-2 mb-2 btn btn-outline-primary btn-sm life_point_upgrade"><i class="fa-solid fa-coins text-warning"></i></button></p>
                <p><i class="fa-solid fa-fw fa-hand-fist"></i> : <span class="attack">{attack}</span><button class="ms-2 mb-2 btn btn-outline-primary btn-sm attack_upgrade"><i class="fa-solid fa-coins text-warning"></i></button></p>
                <p><i class="fa-solid fa-fw fa-shield"></i> : <span class="defense">{defense}</span><button class="ms-2 mb-2 btn btn-outline-primary btn-sm defense_upgrade"><i class="fa-solid fa-coins text-warning"></i></button></p>
            </div>
        </div>
        <button class="text-center btn btn-primary btn-sm selectOnion">Plant</button>
    </div>
</div>
