.pikmin {
  width: 22px;
  height: 51px;
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(1) !important;
  background-position: 50% 100%;
}
.pikmin_red {
  animation: pikmin_red_animation 1s infinite;
}
.pikmin_red_plant_animation {
  animation: pikmin_red_plant_animation 0.5s infinite;
}
.pikmin_yellow {
  animation: pikmin_yellow_animation 1s infinite;
}
.pikmin_yellow_plant_animation {
  animation: pikmin_yellow_plant_animation 0.5s infinite;
}
.pikmin_blue {
  animation: pikmin_blue_animation 1s infinite;
}
.pikmin_blue_plant_animation {
  animation: pikmin_blue_plant_animation 0.5s infinite;
}
.pikmin_purple {
  animation: pikmin_purple_animation 1s infinite;
}
.pikmin_purple_plant_animation {
  animation: pikmin_purple_plant_animation 0.5s infinite;
}
.pikmin_white {
  animation: pikmin_white_animation 1s infinite;
}
.pikmin_white_plant_animation {
  animation: pikmin_white_plant_animation 0.5s infinite;
}

.plant {
  width: 32px;
  height: 31px;
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(3, jump-none) !important;
}

.onion {
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(2, jump-none) !important;
  width: 111px;
  height: 113px;
}
.onion_pikmin_red_animation {
  animation: onion_pikmin_red_animation 0.2s infinite;
}
.onion_pikmin_yellow_animation {
  animation: onion_pikmin_yellow_animation 0.2s infinite;
}
.onion_pikmin_blue_animation {
  animation: onion_pikmin_blue_animation 0.2s infinite;
}
.onion_pikmin_purple_animation {
  animation: onion_pikmin_purple_animation 0.2s infinite;
}
.onion_pikmin_white_animation {
  animation: onion_pikmin_white_animation 0.2s infinite;
}

.onionImgContainer {
  top: -1000px;
}

@keyframes onion_pikmin_red_animation {
  from {
    background-position: -715px -9px;
  }
  to {
    background-position: -715px -133px;
  }
}
@keyframes onion_pikmin_yellow_animation {
  from {
    background-position: -976px -13px;
  }
  to {
    background-position: -976px -130px;
  }
}
@keyframes onion_pikmin_blue_animation {
  from {
    background-position: -1235px -13px;
  }
  to {
    background-position: -1235px -130px;
  }
}
@keyframes onion_pikmin_purple_animation {
  from {
    background-position: -1490px -11px;
  }
  to {
    background-position: -1490px -131px;
  }
}
@keyframes onion_pikmin_white_animation {
  from {
    background-position: -1772px -11px;
  }
  to {
    background-position: -1772px -128px;
  }
}
@keyframes pikmin_red_plant_animation {
  from {
    background-position: -373px -141px;
  }
  to {
    background-position: -435px -141px;
  }
}
@keyframes pikmin_yellow_plant_animation {
  from {
    background-position: -465px -141px;
  }
  to {
    background-position: -527px -141px;
  }
}
@keyframes pikmin_blue_plant_animation {
  from {
    background-position: -557px -186px;
  }
  to {
    background-position: -619px -186px;
  }
}
@keyframes pikmin_purple_plant_animation {
  from {
    background-position: -373px -231px;
  }
  to {
    background-position: -435px -231px;
  }
}
@keyframes pikmin_white_plant_animation {
  from {
    background-position: -557px -141px;
  }
  to {
    background-position: -619px -141px;
  }
}
@keyframes pikmin_red_animation {
  from {
    background-position: -7px -9px;
  }
  12.5% {
    background-position: -34px -9px;
  }
  25% {
    background-position: -61px -9px;
  }
  37.5% {
    background-position: -34px -9px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -7px -9px;
  }
  62.5% {
    background-position: -34px -9px;
  }
  75% {
    background-position: -61px -9px;
  }
  87.5% {
    background-position: -34px -9px;
  }
  to {
    background-position: -7px -9px;
  }
}
@keyframes pikmin_yellow_animation {
  from {
    background-position: -98px -9px;
  }
  12.5% {
    background-position: -125px -9px;
  }
  25% {
    background-position: -152px -9px;
  }
  37.5% {
    background-position: -125px -9px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -98px -9px;
  }
  62.5% {
    background-position: -125px -9px;
  }
  75% {
    background-position: -152px -9px;
  }
  87.5% {
    background-position: -125px -9px;
  }
  to {
    background-position: -98px -9px;
  }
}
@keyframes pikmin_blue_animation {
  from {
    background-position: -196px -8px;
  }
  12.5% {
    background-position: -223px -8px;
  }
  25% {
    background-position: -250px -8px;
  }
  37.5% {
    background-position: -223px -8px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -196px -8px;
  }
  62.5% {
    background-position: -223px -8px;
  }
  75% {
    background-position: -250px -8px;
  }
  87.5% {
    background-position: -223px -8px;
  }
  to {
    background-position: -196px -8px;
  }
}
@keyframes pikmin_purple_animation {
  from {
    background-position: -11px -153px;
  }
  12.5% {
    background-position: -38px -153px;
  }
  25% {
    background-position: -65px -153px;
  }
  37.5% {
    background-position: -38px -153px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -11px -153px;
  }
  62.5% {
    background-position: -38px -153px;
  }
  75% {
    background-position: -65px -153px;
  }
  87.5% {
    background-position: -38px -153px;
  }
  to {
    background-position: -11px -153px;
  }
}
@keyframes pikmin_white_animation {
  from {
    background-position: -98px -154px;
  }
  12.5% {
    background-position: -125px -154px;
  }
  25% {
    background-position: -152px -154px;
  }
  37.5% {
    background-position: -125px -154px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -98px -154px;
  }
  62.5% {
    background-position: -125px -154px;
  }
  75% {
    background-position: -152px -154px;
  }
  87.5% {
    background-position: -125px -154px;
  }
  to {
    background-position: -98px -154px;
  }
}

/*# sourceMappingURL=assets.css.map */
