.pikmin {
  width: 22px;
  height: 51px;
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(1) !important;
  background-position: 50% 100%;
}

.RedPikmin {
  animation: RedPikmin_animation 1s infinite;
}
.RedPikmin_plant_animation {
  animation: RedPikmin_plant_animation 0.5s infinite;
}

.YellowPikmin {
  animation: YellowPikmin_animation 1s infinite;
}
.YellowPikmin_plant_animation {
  animation: YellowPikmin_plant_animation 0.5s infinite;
}

.BluePikmin {
  animation: BluePikmin_animation 1s infinite;
}
.BluePikmin_plant_animation {
  animation: BluePikmin_plant_animation 0.5s infinite;
}

.PurplePikmin {
  animation: PurplePikmin_animation 1s infinite;
}
.PurplePikmin_plant_animation {
  animation: PurplePikmin_plant_animation 0.5s infinite;
}

.WhitePikmin {
  animation: WhitePikmin_animation 1s infinite;
}
.WhitePikmin_plant_animation {
  animation: WhitePikmin_plant_animation 0.5s infinite;
}

.plant {
  width: 32px;
  height: 31px;
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(3, jump-none) !important;
}

.onion {
  background-image: url("../img/sprite.png");
  animation-timing-function: steps(2, jump-none) !important;
  width: 111px;
  height: 113px;
}
.onion_RedPikmin_animation {
  animation: onion_RedPikmin_animation 0.2s infinite;
}
.onion_YellowPikmin_animation {
  animation: onion_YellowPikmin_animation 0.2s infinite;
}
.onion_BluePikmin_animation {
  animation: onion_BluePikmin_animation 0.2s infinite;
}
.onion_PurplePikmin_animation {
  animation: onion_PurplePikmin_animation 0.2s infinite;
}
.onion_WhitePikmin_animation {
  animation: onion_WhitePikmin_animation 0.2s infinite;
}

.onionImgContainer {
  top: -1000px;
}

@keyframes onion_RedPikmin_animation {
  from {
    background-position: -715px -9px;
  }
  to {
    background-position: -715px -133px;
  }
}
@keyframes onion_YellowPikmin_animation {
  from {
    background-position: -976px -13px;
  }
  to {
    background-position: -976px -130px;
  }
}
@keyframes onion_BluePikmin_animation {
  from {
    background-position: -1235px -13px;
  }
  to {
    background-position: -1235px -130px;
  }
}
@keyframes onion_PurplePikmin_animation {
  from {
    background-position: -1490px -11px;
  }
  to {
    background-position: -1490px -131px;
  }
}
@keyframes onion_WhitePikmin_animation {
  from {
    background-position: -1772px -11px;
  }
  to {
    background-position: -1772px -128px;
  }
}
@keyframes RedPikmin_plant_animation {
  from {
    background-position: -373px -141px;
  }
  to {
    background-position: -435px -141px;
  }
}
@keyframes YellowPikmin_plant_animation {
  from {
    background-position: -465px -141px;
  }
  to {
    background-position: -527px -141px;
  }
}
@keyframes BluePikmin_plant_animation {
  from {
    background-position: -557px -186px;
  }
  to {
    background-position: -619px -186px;
  }
}
@keyframes PurplePikmin_plant_animation {
  from {
    background-position: -373px -231px;
  }
  to {
    background-position: -435px -231px;
  }
}
@keyframes WhitePikmin_plant_animation {
  from {
    background-position: -557px -141px;
  }
  to {
    background-position: -619px -141px;
  }
}
@keyframes RedPikmin_animation {
  from {
    background-position: -7px -9px;
  }
  12.5% {
    background-position: -34px -9px;
  }
  25% {
    background-position: -61px -9px;
  }
  37.5% {
    background-position: -34px -9px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -7px -9px;
  }
  62.5% {
    background-position: -34px -9px;
  }
  75% {
    background-position: -61px -9px;
  }
  87.5% {
    background-position: -34px -9px;
  }
  to {
    background-position: -7px -9px;
  }
}
@keyframes YellowPikmin_animation {
  from {
    background-position: -98px -9px;
  }
  12.5% {
    background-position: -125px -9px;
  }
  25% {
    background-position: -152px -9px;
  }
  37.5% {
    background-position: -125px -9px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -98px -9px;
  }
  62.5% {
    background-position: -125px -9px;
  }
  75% {
    background-position: -152px -9px;
  }
  87.5% {
    background-position: -125px -9px;
  }
  to {
    background-position: -98px -9px;
  }
}
@keyframes BluePikmin_animation {
  from {
    background-position: -196px -8px;
  }
  12.5% {
    background-position: -223px -8px;
  }
  25% {
    background-position: -250px -8px;
  }
  37.5% {
    background-position: -223px -8px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -196px -8px;
  }
  62.5% {
    background-position: -223px -8px;
  }
  75% {
    background-position: -250px -8px;
  }
  87.5% {
    background-position: -223px -8px;
  }
  to {
    background-position: -196px -8px;
  }
}
@keyframes PurplePikmin_animation {
  from {
    background-position: -11px -153px;
  }
  12.5% {
    background-position: -38px -153px;
  }
  25% {
    background-position: -65px -153px;
  }
  37.5% {
    background-position: -38px -153px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -11px -153px;
  }
  62.5% {
    background-position: -38px -153px;
  }
  75% {
    background-position: -65px -153px;
  }
  87.5% {
    background-position: -38px -153px;
  }
  to {
    background-position: -11px -153px;
  }
}
@keyframes WhitePikmin_animation {
  from {
    background-position: -98px -154px;
  }
  12.5% {
    background-position: -125px -154px;
  }
  25% {
    background-position: -152px -154px;
  }
  37.5% {
    background-position: -125px -154px;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
    background-position: -98px -154px;
  }
  62.5% {
    background-position: -125px -154px;
  }
  75% {
    background-position: -152px -154px;
  }
  87.5% {
    background-position: -125px -154px;
  }
  to {
    background-position: -98px -154px;
  }
}

/*# sourceMappingURL=assets.css.map */
