body {
    margin: 0;
    padding: 0;
    background-color: var(--bs-c-primary);
    color: azure;
}

p {
    margin-bottom: 0;
}

#idle {
    background-image: linear-gradient(to top, var(--bs-c-primary), transparent 20%), url("../img/idle-bg.png");
    background-position: 50% 40%;
    background-size: cover;
    height: 40vh;
}

.progressBarContainer {
    background: var(--rainbow);
    height: 1rem;
    margin: 0.5rem;
    border-radius: 50rem;
    display: flex;
    justify-content: end;
}

.progressBar {
    animation-timing-function: linear;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 0 50rem 50rem 0;
}

@keyframes progressBar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}