body {
    margin: 0;
    padding: 0;
    background-color: var(--bs-c-primary);
    color: azure;
}

p {
    margin-bottom: 0;
}

#idle {
    background-image: linear-gradient(to top, var(--bs-c-primary), transparent 20%), url("../img/idle-bg.png");
    background-position: 50% 40%;
    background-size: cover;
    height: 40vh;
}

#onion_unlock {
    min-height: 225px;
}

.progressBarContainer {
    background: var(--rainbow);
    height: 1rem;
    margin: 0.5rem;
    border-radius: 50rem;
    display: flex;
    justify-content: end;
}

.progressBar {
    animation-timing-function: linear;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 50rem;
}

.landing {
    animation-name: landingX, landingY, landingRotate;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.5,.02,.57,.91), ease-out, cubic-bezier(.74,.23,.65,.84);
}

@keyframes progressBar {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes landingX {
    from {
        right: 0;
        left: 0;
    }
    25% {
        right: 125px;
        left: -125px;
    }
    50% {
        right: -75px;
        left: 75px;
    }
    75% {
        right: 25px;
        left: -25px;
    }
    to {
        right: 0;
        left: 0;
    }
}

@keyframes landingY {
    from {
        top: -1000px;
    }

    to {
        top: 0;
    }
}

@keyframes landingRotate {
    from {
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(3deg);
    }
    to {
        transform: rotate(0deg);
    }
}